html, body {margin: 8px 8px 8px 8px; font-family:Arial, Helvetica, sans-serif; font-size:small}
table, th, td {padding: 0 4px 0 4px; border-collapse:collapse; border:0 solid; vertical-align:top; text-align:left}
tr.rpt-row td {padding: 1px 4px 1px 4px; border: 1px solid gray}
#canvas {background: linear-gradient(to bottom, white 0%, azure 100%)}
.form-data {text-align:left; white-space: nowrap; padding: 0 0 0 0}
.form-div {padding: 4px 0 0 0}
.form-name {text-align:right; white-space: nowrap; padding: 0 4px 0 0}
.form-tab {padding: 0 8px 0 8px}
.graph-head {font-weight:bold; text-align:right; white-space: nowrap;}
.graph-note {color:dimgray}
.mode-head {font-weight:bold; text-align:right; white-space: nowrap;}
.mode-note {color:dimgray}
.key-head {text-align:right; white-space: nowrap;}
.overview {color:dimgray}
.ref {font-size:small; color:dimgray}
.ref-author {font-style:italic}
.ref-num {color:black}
.ref-title {text-decoration:underline}
.rpt-detail {color:black}
.rpt-detect {background-color:gainsboro}
.rpt-head {background-color:whitesmoke}
.rpt-note {text-align:left}
.rpt-row {border: 1px solid gray; text-align:center}
.rpt-subtotal {background-color:lightgreen}
.rpt-undetected {background-color:whitesmoke}
.rpt-title {color:blue}
.rpt-total {background-color:lightgreen}
.space-left {margin-left:8px}
.space-right {margin-right:8px}
.sub-link {font-style:italic; font-size:smaller}
.sub-text {color:dimgray; font-style:italic; font-size:smaller}
.tab-left {margin-left:16px}